@primaryColor: #66ceb2;

@radius: 55px;
@circumf: 3.1416 * @radius * 2;
@check-len: 75px;

// ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
// ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
// █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
// ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
// ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
// ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝

@font-face {
	font-family: "Futura Bold";
	src: url("../assets/fonts/Futura-Bold.woff");
}

@font-face {
	font-family: "Futura Light";
	src: url("../assets/fonts/Futura-Light.woff");
}

@font-face {
	font-family: "Futura Medium";
	src: url("../assets/fonts/Futura-Medium.woff");
}

// ██╗   ██╗████████╗██╗██╗     ██╗████████╗██╗███████╗███████╗
// ██║   ██║╚══██╔══╝██║██║     ██║╚══██╔══╝██║██╔════╝██╔════╝
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║█████╗  ███████╗
// ██║   ██║   ██║   ██║██║     ██║   ██║   ██║██╔══╝  ╚════██║
// ╚██████╔╝   ██║   ██║███████╗██║   ██║   ██║███████╗███████║
//  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝

.mb0.mb0.mb0 {
	margin-bottom: 0;
}

.mb1em {
	margin-bottom: 1em;
}

.mb2em {
	margin-bottom: 2em;
}

.mb3em.mb3em.mb3em {
	margin-bottom: 3em;
}

.mb4em.mb4em.mb4em {
	margin-bottom: 4em;
}

.mb6em.mb6em.mb6em {
	margin-bottom: 6em;
}

.mt2em.mt2em.mt2em {
	margin-top: 2em;
}

.mt4em {
	margin-top: 4em;
}

.px0 {
	padding-left: 0;
	padding-right: 0;
}

.px3em.px3em {
	padding-left: 3em;
	padding-right: 3em;
}

.pl0 {
	padding-left: 0;
}

.pt2em {
	padding-top: 2em;
}

.pt4em {
	padding-top: 4em;
}

// Aligns

.ta-center {
	text-align: center;
}

.ta-right {
	text-align: right;
}

.ta-left {
	text-align: left;
}

// Width

.w-100.w-100.w-100 {
	width: 100%;
}

// Height

.h-100.h-100.h-100 {
	height: 100%;
}

// Miscellaneous

.cursor-pointer.cursor-pointer {
	cursor: pointer;
}

// ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗     ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
// ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
// ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗      ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
// ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝      ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
// ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
// ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝

@media screen and (max-width: 414px) {
	.pt-initial__mobile {
		padding-top: initial !important;
	}

	.mb0__mobile.mb0__mobile.mb0__mobile {
		margin-bottom: 0;
	}

	.display-block__mobile {
		display: block !important;
	}

	.px1em__mobile.px1em__mobile {
		padding-left: 1em;
		padding-right: 1em;
	}
}

// ███████╗██╗     ███████╗███╗   ███╗███████╗███╗   ██╗████████╗
// ██╔════╝██║     ██╔════╝████╗ ████║██╔════╝████╗  ██║╚══██╔══╝
// █████╗  ██║     █████╗  ██╔████╔██║█████╗  ██╔██╗ ██║   ██║
// ██╔══╝  ██║     ██╔══╝  ██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║
// ███████╗███████╗███████╗██║ ╚═╝ ██║███████╗██║ ╚████║   ██║
// ╚══════╝╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f3f3f3 !important;
	font-family: "Futura Medium", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Futura Bold", Arial, Helvetica, sans-serif;
}

a {
	color: @primaryColor;
}

span.primary {
	color: @primaryColor;
}

input.ant-input,
.ant-select-auto-complete.ant-select .ant-input {
	height: 40px !important;
	border: 2px solid #ddd;
	border-radius: 0 !important;
}

form textarea.ant-input {
	border: 2px solid #ddd;
	border-radius: 0 !important;
}

li.ant-menu-item {
	transition: 0ms;
	margin-right: 8px;
	.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.05);
	}
	&:hover {
		background: #e9e9e9;
		border-radius: 5px;
		a {
			color: rgba(0, 0, 0, 0.35);
		}
	}
}

.ant-carousel {
	.slick-slide {
		pointer-events: visible !important;
	}

	.home {
		min-height: 160px;
		height: 300px;
		margin-bottom: 3em;
		.slick-list.slick-list.slick-list {
			height: 100% !important;
			img {
				height: 100%;
			}
		}
	}
}

.ant-tabs-ink-bar {
	background-color: @primaryColor !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
	color: @primaryColor !important;
}

.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover,
.ant-tabs-nav .ant-tabs-tab:hover,
.ant-btn-link:hover,
.ant-btn-link:focus {
	color: @primaryColor !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: rgba(102, 206, 178, 0.17) !important;
}

.ant-input-number:hover {
	border-color: @primaryColor !important;
	border-right-width: 1px !important;
}

::selection {
	color: #fff;
	background: @primaryColor !important;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
	color: @primaryColor !important;
}

.ant-layout,
.ant-layout-footer {
	background: inherit !important;
}

.ant-btn-ghost:hover,
.ant-btn-ghost:focus {
	color: @primaryColor !important;
	background-color: transparent;
	border-color: @primaryColor !important;
}

.iconfontyyy {
	font-family: "iconfontyyy" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.ant-row-flex {
	&.scrolling-row.scrolling-row {
		width: auto;
		flex-wrap: nowrap;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
		img {
			height: 100%;
			object-fit: cover;
		}
	}
}

// ███████╗██╗   ██╗ ██████╗ ██████╗███████╗███████╗███████╗
// ██╔════╝██║   ██║██╔════╝██╔════╝██╔════╝██╔════╝██╔════╝
// ███████╗██║   ██║██║     ██║     █████╗  ███████╗███████╗
// ╚════██║██║   ██║██║     ██║     ██╔══╝  ╚════██║╚════██║
// ███████║╚██████╔╝╚██████╗╚██████╗███████╗███████║███████║
// ╚══════╝ ╚═════╝  ╚═════╝ ╚═════╝╚══════╝╚══════╝╚══════╝

#outline {
	animation: 0.38s ease-in outline;
	transform: rotate(0deg);
	transform-origin: center;
}

#white-circle {
	animation: 0.35s ease-in 0.35s forwards circle;
	transform: none;
	transform-origin: center;
}

#check {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
	stroke-dasharray: 0, @check-len;
}

#check-group {
	animation: 0.32s ease-in-out 1.03s check-group;
	transform-origin: center;
}

@keyframes outline {
	from {
		stroke-dasharray: 0, @circumf;
	}
	to {
		stroke-dasharray: @circumf, @circumf;
	}
}

@keyframes check-group {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	to {
		transform: scale(1);
	}
}

@keyframes check {
	from {
		stroke-dasharray: 0, @check-len;
	}
	to {
		stroke-dasharray: @check-len, @check-len;
	}
}

@keyframes circle {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
